name: CI

on:
  push:
    branches: ["main", "develop"]

jobs:
  build-and-scan:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repo
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t devsecops-demo:ci${{ github.sha }} -f docker/Dockerfile .

      - name: Trivy image scan
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: 'devsecops-demo:ci${{ github.sha }}'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
